*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Caveat', cursive;
    background-color: rgb(166, 183, 130);
}

.container{
    width: 90%;
    margin: auto;
    display: flex;
}

.groceries{
    border: 1px solid black;
    width: 600px;
    min-height: 100vh;
    margin: auto;
    background-color: white;
    box-shadow: 10px 10px 24px 0 rgba(0, 0, 0, 0.498);
}

.groceries h1{
    font-size: 2.5rem;
    margin-top: 1em;
}

.groceries i{
    font-size: 2rem;
    color: rgb(118, 132, 87);
}

.groceries input{
    font-family: inherit;
    outline: 0;
    border: 0;
    border-bottom: 3px solid black;
    width: 70%;
    font-size: 1.5rem;
}

#allItems h2{
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 15px;
    font-size: 2rem;
}

@media(max-width:480px){
    .groceries h1{
        font-size: 2rem;
    }
}


@media(max-width:480px){
    .groceries i{
        font-size: 2rem;
    }
}

@media(max-width:480px){
    .groceries input{
        font-size: 2rem;
    }
}

@media(max-width:480px){
    #allItems h2{
        margin-left: 25px;
        font-size: 2rem;
    }
}
